@page "/"
@using System.Security.Cryptography
@using System.Text
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<input @bind="passInput"/>
<button type="submit" @onclick="GetHashPass">Hash</button>


<div>@passHash</div>

@code{
    private string passInput = "";
    private string passHash = "";

    public void GetHashPass()
    {
        var passSvc = SHA512.Create();
        var hash = passSvc.ComputeHash(Encoding.UTF8.GetBytes(passInput));
        passHash = BitConverter.ToString(hash).Replace("-","");
        passInput = string.Empty;
    }
}